

<!DOCTYPE HTML>
<html>
    <head>
        <title>Applications</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        
        <style>
            .table .thead-dark th{
                background-color:#ffc116;
                border-color:#ffc116;
            }
            .btn-primary{
                background-color: #0000;
                color:#000000;
                border-color: #ffc116;
            }
            .btn-primary:hover{
                background-color: #ffc116;
                color:#ffffff;
                border-color:#ffc116;
            }
        </style>
        
        <script language="JavaScript" type="text/javascript" src="../jsrsasign-all-min.js"></script>



    </head>
<body>
<table class="table">
  <thead  class="thead-dark">
    <tr>
      <th scope="col">Serial Number</th>
      <th scope="col">Email</th>
      <th scope="col">Scheme</th>
      <th scope="col">Aadhaar Number</th>
      <th scope="col">Date Applied</th>
      <th scope="col">Form</th>
      <th scope="col">Confirm</th>
    </tr>
  </thead>
    <% var i=1; 
    user.forEach(function(u){ %>
    <tr>
        <td scope="row"><%= i %><%i++%></td>
        <td><%= u.email %></td>
        <td><%= u.name %></td>
        <td><%= u.aadhar %></td>
        <td><%= u.date %></td>
        <td><a class="btn btn-primary" href="/sashakti/uploads/download.jpg" download="form">Download</a></td>
        <td><form method="POST" action="/confirm">
            <input type="text" value=<%= u.email %> name="email" hidden>
            <input type="text" value=<%= u.name %> name="name" hidden>
            <button type="submit" class="btn btn-primary">Accept</button>
        </form> </td>
        </tr>
    <% }); %>
</table>

</body>
</html>